.App {
    width: 1153px;
    margin: auto;
    border: black solid 1px;
    background-color: #ebebeb;
    margin-bottom: 20px;
    font-family: 'Helvetica', sans-serif;
    font-size: 16px;
}
.post-header {
    width: 1153px;
    height: 90px;
    background-color: #14314F;
    color: white;
    font-size: 30px;
}

.post-header-inline {
    position: relative;
    left: 23px;
    top: 29px;
    width: inherit;
}

.save-button {
    background-color: #1DC659;
    width: 115px;
    height: 34px;
    border: none;
    color: white;
    padding-bottom: 8px;
    padding-top: 9px;
}
.save-button:hover, .cancel-button:hover{
    border: white 1px solid;
}
.cancel-button {
    width: 115px;
    height: 34px;
    border: #1D2835 1px solid;
}
.button {
    display: table-cell;
    font-size: 14px;
}
.disabled {
    background-color: #ebebeb;
    cursor: not-allowed;
    border: #1DC659 1px solid;
}
.post-create-edit-form {
    width: 1048px;
    height: 431px;
    /*margin: auto;*/
    margin-left: 37px;
    /*margin-right: 36px;*/
    background-color: white;
    padding: 0 16px;
}
.input-title-label {
    height: 28px;
    padding-top: 24px;
    width: 35px;
}
.input-title-body {
    height: 28px;
    width: 183px;
}
.post-input {
    border: #ebebeb 1px solid;
    width: 919px;
    height: 49px;
}

.post-textarea {
    border: #ebebeb 1px solid;
    width: 1042px;
    height: 224px;
}
.input-title {
    margin-top: 20px;
}
.input-body {
    margin-top: 60px;
}
input, textarea {
    /*padding: 0 5px;*/
}
.post-page, .create-edit-post-page {
    height: 1024px;
}
.create-edit-post-buttons {
    float: right;
    margin-top: 34px;
    margin-right: 36px;
}
.create-edit-post-buttons .button:nth-of-type(1) {
    padding-right: 15px;
}
.post-list-item {
    width: 1153px;
    height: 90px;
    /*padding-right: 4px;*/
    display: table;
    background-color: #ebebeb;
}
.post-list-item:nth-child(even) {
    background-color: white;
}
.post-list-item:hover {
    background-color: #dcf3e0;
}
.item-inner {
    display: table-cell;
    vertical-align: middle;
}
.item-title {
    width: 441px;
}
.item-id {
    width: 79px;
    text-align: center;
}
.item-inner-buttons {
    display: table-cell;
    vertical-align: middle;
    margin-right: 21px;
    margin-top: 30px;
}
.item-inner-buttons .button:nth-of-type(1) {
    padding-right: 12px;
}
.post-page-neck {
    height: 90px;
}
.neck-button {
    margin-top: 26px;
    float: right;
    margin-right: 21px;
}
